:root {
    /* change the values below to your colors from your palette */
    --primary-color: #0000FF;
    --secondary-color: #64FAFA;
    --accent1-color: #FFFFFF;
    --accent2-color: #FF9B00;
    --accent3-color:#8AA4AA;
  /* change the values below to your chosen font(s) */
    --heading-font: "Aclonica", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;
  }
/***********HEADER*******/
header{
    display: grid;
    grid-template-columns: 0.5fr 4.5fr;
  grid-gap: 0.5em;
    background: yellow;
    align-items: center;
}
#imglogo{
    width: 100%;
    grid-column: 1/2;
}
#textlogo{
    grid-column: 2/3;
    font-size: 3rem;
    margin-left: 0.4em;
    font-family: var(--heading-font);
}

/***Navigation***********/
nav .ham {display: none;}
nav{
    grid-column: 1/3;

}        
nav .menu {
padding: 0%;
margin-bottom: 1.5em;

}
    
nav ul li{
    display:inline-block;
    width: 10em;
}
nav ul li:nth-child(4){
 
    width: 15em;
}
    
nav .menu li a {
   
    padding: 1rem 1rem;
    font-size: 1.7rem;
    text-decoration: none;
    font-family: var(--heading-font);
}
.active {
  background: blue;
  color:yellow;
}
nav .menu a:hover {
  background: blue;
  color:yellow;
}
/*********MAIN*********/
/**********HERO BOX*************/
#heroimage img{
    width: 100%;
}
#calltoaction{
    position: absolute;
    top: 250px;
    left: 60%;
    width: 30%;
    background-color: var(--accent2-color);
    padding: 1.5em;
    border: 1px solid var(--accent3-color);
    box-shadow: 5px 5px 5px var(--accent3-color);
    color: var(--accent1-color);
    opacity: 90%;
    font-weight: bolder;
    font-family: var(--heading-font);
    box-sizing: border-box;
  }
  #calltoaction button {
    width: 50%;
    height: 30%;
    background:yellow;
    border-radius: 1em;
    font-size: 1.2em;
  }
/**********WEATHER BOX*************/

#weatherbox{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 2.5em;
    align-items: center;
    justify-items: center;
    width: 70%;
    margin: auto;
}
#summary{
    border: 1px solid red;
    border-radius: 1em;
    width: 100%;

    padding: 1em;
}
#summary h2{
  margin-top: 0px;
    margin-bottom: 0.2em;
    text-align: center;
    font-family: var(--heading-font);
}
#summary table{
    font-family: var(--paragraph-font);
}
#summary table tr td:nth-child(1){
  text-align: right;
}
#summary table tr td:nth-child(2){
  font-weight: bold;
  color:blue; 
}
  /*****FORECAST*******/
  #forecast{
    border: 1px solid red;
    border-radius: 1em;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-family: var(--heading-font);
  }
  
  .weather-forecast ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
   
  }
  .weather-forecast h3{
    background-color: var(--secondary-color);
    margin: 0px;
    padding: 3px;
  
  }
  .weather-forecast li{
    flex: 1;
    border: 1px solid var(--primary-color);
  }
  .weather-forecast p{
    font-family: var(--paragraph-font);
  }
  
  .weather-forecast img{
    height: 50px;
   }

/**********RENTALS BOX*************/
#typesrental{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  font-family: var(--paragraph-font);
  justify-items: center;
  
}
#typesrental h2{
  text-align: center
}


#rentalinfo{
  width: 80%;
margin: auto;
font-family: var(--paragraph-font);
font-size: 1.5em;
}
#rentalinfo h2{
  margin-bottom: 0%;
  padding: 0%;
  
}
#rentalinfo p{
  margin-top: 0%;

}
#typesrental .types{
  border: 1px red solid;
  border-radius: 15px;
  padding: 1.8em;
  box-sizing: border-box;
}
.types h2{
  margin: auto;
}
.types img{
  width: 100%;
}
.types p{
  height: 5em; /**all paragraph have the same height*/
  margin: 0;
}
/********RENTAL PAGE**************/
main>h1{
  font-family: var(--heading-font);
  text-align: center;
}
#rent{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 0.5em;
  margin-top: 0.5em;
}
#rent section{
  background: chartreuse;
  padding: 1.5em;
  border-radius: 15px;
  border: 1px red solid;
  font-family: var(--paragraph-font);
  font-size: 1em;
}
#rent section div:nth-child(2){
  margin-top: 0px;
  font-weight: bolder;
}
#rent section div h2{
  text-align: center;
  margin-top: 0px;
}
#rent section div p{
  margin: 0.2em;
}

div button{
  display: block;
  margin: auto;
  margin-top:0.5em;
     background:yellow;
    border-radius: 1em;
    font-size: 1.2em;
}
/********TOURS PAGE**************/
#tours section{
  display: flex;
  width: 80%;
  margin: auto;
}
#tours section:nth-child(even){
  flex-direction: row-reverse;
}
#tours section div{
 border: 1px solid red;
border-radius: 15px;
padding: 1em;
 margin: 0.3em;
}
/**********CONTACT PAGE*****************/
main h2{
  text-align: center;
  font-family: var(--paragraph-font);
 margin-top: 0px;
}
main h1{
  margin-bottom: 0;
}
#contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
 grid-gap: 1em;
 margin-bottom: 1.5em; 
}
#contact div h3{
  text-align: center;
  margin-bottom: 0px; 
}
#map1{
  grid-column: 1/2;
  grid-row: 1/2;  
  padding: 1em;
  box-sizing: border-box;
}
#map2{
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 1em;
  box-sizing: border-box;
}
#map2 iframe,#map1 iframe{
  width: 100%;
height: 90%;
}

#frm{
  grid-column: 2/3;
  grid-row: 1/3;
   padding: 3em;
}
#frm label{
  display: block;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: var(--paragraph-font);
}

#frm label input{
  display: block;
  font-size: 1rem;
  border: solid 1px rgb(223, 15, 15);
  border-radius: 4px;
  color: #555;
  width: 100%;
  height: 3em;
  background-color: rgba(0,0,0,0.1);
  
}
textarea[name=txtcomments]{
  width: 100%;
  height: 200px;
  border: 1px solid #445ba9;
  
}
#frm label input:required{
  border-left: red solid 6px;
}
#frm label input:required:valid{
  border-left: green solid 6px;
}
#frm input[type=submit]{
  display: block;
  width: 50%;
  margin: auto;
  background:yellow;
  border-radius: 1em;
  font-size: 1em;
  margin-top: 1.5em;
}
/*************RESERVATION PAGE*************/
#reserv{
  display: flex;
  padding: 1em;
  font-family: var(--paragraph-font);
  width: 80%;
  justify-content: center;
  align-content: center;
}

#contactreserv{
  width: 150%;
  margin-right: 3em;
  border: 1px red solid;
  border-radius: 15px;
}
#reservfrm{
  background: rgb(98, 243, 70);
  border-radius: 15px;
}
.submitBtn{
  display: block;
  margin: auto;
}
#reservfrm #comments{
  width: 100%;
}
/********FOOTER**************/
footer{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr;
    margin-top: 1em;
}
#copyright,#lastupdated, #resources, #socialnets{
    padding-top: 0.3em;
    align-self: center;
 
}
/*****************FOOTER******************/

