@media only screen and (max-width: 59.375em) {/*max 950 px */
  
  nav .menu li a {
   
    padding: 0.5rem 0.5rem;
    font-size: 1.4rem;
  
}
nav ul li{
  width: 8em;
}
#textlogo{
 
  font-size: 3rem;
  
}
/*****HEROBOX******/
#calltoaction button{

  border-radius: 0.7em;
  font-size: 1.1em;
  width: 100%;
}
/******WEATHER BOX***********/
#weatherbox{
  width: 100%;
  grid-gap: .5em;
  padding: 0.5em;
}
#summary{
  width: 100%;
  padding: 0.4em;
 
}
#summary h2{
  margin: 0%;
 font-size: 1.2em;
  font-family: var(--heading-font);
}
#forecast{
    width: 90%;

  }
  #rent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0.5em;
    margin-top: 0.5em;
  }
}