@media (max-width:22.5em) {/*max 360px*/

    /***HEADER**/
    header{
      display: grid;
      grid-template-rows: 1fr 0.5fr;
      grid-gap: 0.1em;
    
    }
    #imglogo{
      grid-column: 1/2;
      grid-row: 1/2;
        width: 100%;
    }
    #textlogo{
      grid-column: 2/3;
      font-size: 1.4rem;
    padding-left: 0;
    margin-left: 0;
    }
    /***************NAVIGATION*************/
    nav{
      grid-column: 1/3;
      grid-row: 2/3;   
    }
    .menu .ham{
        cursor: pointer;
        font-size: 1.2em;
      }
      .menu{
       position: absolute;
       top: 40px;
       left: 100px;
        z-index: 1;
      }
      .menu li {
      display: none;
      }
      .menu li:first-child {
      display: block;
      }
      .responsive li{
          display: block;
          background: white;
          width: 60%;
      }
      nav ul li a:hover {
        color: white;
        background-color: black;
      }
      nav .menu li a {   
        padding: 0.1rem;
        font-size: 1.1rem;
    }
      nav ul {
        text-align: left;
      }
/*******MAIN*************/
/*******HERO IMAGE*************/

#calltoaction{
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: none;
  width: 100%;
text-align: center;
}

/**********WEATHER BOX************************/
#weatherbox{
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 50% 50%;
  padding: 0%;
margin: 0%;
}
#summary{
  grid-row: 1/2;
  width: 96%;
}
#summary h2, #forecast h2{
  font-size: 1.6em;
}
#summary table{
  margin: auto;
}
#forecast{
grid-row: 2/3;
width: 100%;
}
/**********RENTALS BOX*************/
#typesrental{
  display: grid;
  grid-template-columns: 1fr;
  font-family: var(--paragraph-font);
}
#typesrental .types{
  border: 1px red solid;
  border-radius: 15px;
  grid-gap: 0px;
  padding: 0.2em;
  box-sizing: border-box;
}
#rentalinfo{
  width: 100%;
font-family: var(--paragraph-font);
font-size: 1em;
}


/**********FOOTER*****************/
footer{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(3,1fr);
 
}
#copyright, #lastupdated, #resources, #socialnets{
    text-align: center;
  
}
#socialnets img{
  width: 13%;
}
}