
main{
    display: grid;
    grid-template-columns: 1fr;
}
/* img{

    filter: blur(0em);
    transition: filter 1s;
} */
img[data-src] {
    filter: blur(0.2em);
  }
  
  img {
    border:2px solid blue;
    padding: 2px;
    filter: blur(0em);
    transition: filter 0.5s;
  }