
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0000FF;
  --secondary-color: #64FAFA;
  --accent1-color: #FFFFFF;
  --accent2-color: #FF9B00;
  --accent3-color:#8AA4AA;
/* change the values below to your chosen font(s) */
  --heading-font: "Chew", sans-serif;
  --paragraph-font: "Open Sans", sans-serif;
}
*{
  padding:0px;
  margin:0px;
}
/*-------------------HEADER-------------------*/

header{
display: flex;
justify-content: center;
align-items: center;
background: var(--primary-color);
height:8em;
text-shadow: 4px 4px 5px var(--accent1-color);
}
header picture{
  width: 9em;
}
header h1{
  font-family: var(--heading-font);
  margin: 0;
  font-size:3em;
  color:var(--secondary-color);
}
header img{
  width:100%;
}
header p{
  color:var(--accent2-color);
  font-size:1.5em;
  padding-left: 1em;
}
/*------------------NAVIGATION------------------*/
nav .ham {display: none;}
        
nav .menu {
  display: block;
  background: var(--secondary-color);
}
    
nav ul {text-align: center;}
    
nav ul li{
    display:inline;
}
    
nav ul li a {
    width: auto;
    padding: 1rem 1rem;
    display: inline-block;
    font-size: 1.7rem;
    text-decoration: none;
}
.active {
  background: var(--primary-color);
  color:var(--secondary-color);
}
nav .menu a:hover {
  background: var(--primary-color);
  color:var(--secondary-color);
}
/*---------------MAIN-----------*/
#hero_box, #purpose{
  width: 77%;
  margin: auto;
}
.hero_photos img{
  margin-top: 1em;
  width: 100%;
}
figcaption{
  font-size: 0.8em;
}
#purpose{
  margin-top: 0.7em;
  font-size: 1.5em;
}
.towns{
  width: 87%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  background: lightblue;
  padding: 0.5em;
  }
.towns section{
  margin: 0%;
  padding: 0%;
  text-align: center;
  background: rgb(245, 238, 146);
  color: blue;
}
.towns section img{
  margin: 0%;
  width: 100%;
}
.towns section h2{
  font-size: 2em;
}
.towns section h2,.towns section h4{
  font-weight: bolder;
}
.towns section h4{
  font-style: italic;
  margin-bottom: 0.5em;
}


#contact-box{
  display: flex;
  padding: 1em 15em; 
  background-color: var(--accent3-color);
}
#info{
  margin: auto;
  font-size: 1em;
  box-sizing: border-box;
}
.contac{
  width: 10%;

}
#info p{
  margin-left: 0.9em;
}

/*------------------FOOTER-------------------*/
footer{
  display: flex;
justify-content: center;
align-items: center;
text-align: center;
  font-family:var(--paragraph-font);
  font-size: 1.2em;
  color: var(--accent1-color);
  background: var(--primary-color);
  height:4em;
}
footer a{
  color: var(--accent1-color);
}
/*---------------thankyou------------*/
#thankyoutitle{
  font-size: 2.5em;
  text-align: center;
  line-height: 5em;
}

@media only screen and (max-width:50em) {/*max 800px*/
  nav ul li a {
    font-size: 1.5rem;
}
  .towns{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
    footer{
      width: 100%;
      height: 5em;
      font-size: 1em;
    }
    header h1{
      width: 100%;
      font-size: 2.5em;

    }
    p{
        font-size: 1.1em;
    }
    h2{
        font-size: 1.5em;
    }
    #contact-box{
      display: flex;
      justify-content: center;
  align-items: center;
      padding: 1.8em;
      margin: 10px auto 0px;
      width: 100%;
      box-sizing: border-box;
      background-color: var(--accent3-color);
    }
    #map{
     display: block;
     width: 40%;
     }
     #map img{
       width: 100%;
     }
    #info{
      padding: 0 70px;
      font-size: 1em;
      box-sizing: border-box;
      margin: 0;
    }
    .contac{
      width: auto;
    
    }
}
/*------------------MOBIL VIEW------------------*/
@media only screen and (max-width:31.2em) {/*max 500px*/
  header{
    display: flex;
  justify-content:flex-start;
  align-items: center;
    position: relative;
    font-size: 0.7em;
 width: 100%;
  }
  header .phrase{
    font-size: 1.3em;
  }
  header img{
    width:100%;
  }
  header section h1{
    font-size: 2em;
  }
  
  .menu{
    position:absolute;
    top: 60px;
    right: 10px;
    z-index: 1;
  }
  .menu li {
  display: none;
  }
  .menu li:first-child {
  display: block;
  }
  .responsive li{
      display: block;
  }
  
  nav ul li a:hover {
    color: white;
    background-color: black;
  }
  nav ul {
    text-align: right;
  }
 
  #hero_box, #purpose{
    width: 100%;

  }
  figcaption{
    padding-left: 0.8em;
  }
  header h1{
    width: 100%;
    font-size: 2em;
 
 }
 p{
     font-size: 1.3em;
 }
 h2{
     font-size: 1.9em;
 }
  #purpose{
    padding: 0;
    margin-top: 0.7em;
    font-size: 1.1em;
    padding: 0.5em;

    box-sizing: border-box;
  }
  .towns {
      grid-template-columns:  1fr;
      padding: 0;
      margin: 0%;
      width: 100%;

      box-sizing: border-box;
  }
 
  .towns section img{
    margin: 0%;
    padding: 0%;
    width: 100%;
    box-sizing: border-box;
  } 
  /*-----------CONTACT BOX----------------------*/
  #contact-box{
    display: flex;
    flex-direction: column-reverse;
      padding: 1.5em;
    width: 100%;
    box-sizing: border-box;
    }
    #map{
     display: none;
    }
    
    #info{
      padding: 0px;
      font-size: 0.8em;
    }
    .contac{
      width: 10%;
    }
    .social{
      width: 10%;
    
    }


  /*------------------FOOTER--------------*/
  footer{
      width: 100%;
      height: 5em;
      font-size: 0.8em;
    }

}