
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0000FF;
  --secondary-color: #64FAFA;
  --accent1-color: #FFFFFF;
  --accent2-color: #FF9B00;
  --accent3-color:#8AA4AA;
/* change the values below to your chosen font(s) */
  --heading-font: "Roboto", sans-serif;
  --paragraph-font: "Open Sans", sans-serif;
}

*{
  padding:0px;
  margin:0px;
}
header{
display: flex;
justify-content: center;
align-items: center;
background: var(--primary-color);
height:8em;
text-shadow: 4px 4px 5px var(--accent1-color);
}
header picture{
  width: 9em;
}
header h1{
  font-family: var(--heading-font);
  margin: 0;
  font-size:3em;
  color:var(--secondary-color);
}
header img{
  width:100%;
}
header p{
  color:var(--accent2-color);
  font-size:1.5em;
  padding-left: 1em;
}
nav .ham {display: none;}
        
nav .menu {
  display: block;
  background: var(--secondary-color);
}
    
nav ul {text-align: center;}
    
nav ul li{
    display:inline;
}
    
nav ul li a {
    width: 5.5em;
    padding: 1rem 1rem;
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
}
.active {
  background: var(--primary-color);
  color:var(--secondary-color);
}
nav .menu a:hover {
  background: var(--primary-color);
  color:var(--secondary-color);
}

main section{
  width: 80%;
  margin: auto;
  padding-top: 1.5em;
}
main section h2{
  text-align: center;
  font-size: 2em;
}
main section div{
  background: var(--accent3-color);
  border: dashed 2px var(--accent2-color);
  color: var(--accent1-color);
  padding:0.5em;
  margin: 0.5em;
  font-size: 1.5em;
}
footer{
  display: flex;
justify-content: center;
align-items: center;
  font-family:var(--paragraph-font);
  font-size: 1.2em;
  color: var(--accent1-color);
  background: var(--primary-color);
  height:4em;
  width: 85%;
  margin: auto;
}
footer a{
  color: var(--accent1-color);
}
